:root {
  --body-text: #434455;
  --accent-color: #4d5ae5;
  --secondary-accent-color: #2e2f42;
  --pressed-state-color: #404bbf;
  --light-mode-backgrounds: #f4f4fd;
  --background: #ffffff;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--body-text);
  font-style: normal;
  font-weight: regular;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  background-color: var(--background);
}

.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  outline: 2px solid red;
}

.section {
  padding-bottom: 72px;
}

/* ==================================== RESET ==================================== */
img {
  display: block;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

/* ==================================== /RESET ==================================== */

.subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--secondary-accent-color);
  /* padding-top: 32px; */
  /* padding-bottom: 8px; */
  margin-bottom: 8px;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  color: #2e2f42;
}
/* ==================================== COMPONENTS ==================================== */
.logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--accent-color);
  margin-right: 76px;
}

.logo-footer {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--accent-color);
  display: inline-block;
  margin-bottom: 16px;
}

.logo-style {
  color: var(--secondary-accent-color);
}

.logo-style-footer {
  color: var(--light-mode-backgrounds);
}
/* ==================================== /COMPONENTS ==================================== *



/* ==================================== HEADER ==================================== */

.contacts {
  font-family: "Roboto" sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--body-text);
}

.address {
  font-style: normal;
  color: var(--body-text);
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
}

.menu-link {
  font-weight: 500;
}

.menu-link:hover,
.menu-link:focus {
  color: var(--pressed-state-color);
}

.contacts:hover,
.contacts:focus {
  color: var(--pressed-state-color);
}

.page-nav {
  display: flex;
}

.menu {
  display: flex;
  gap: 40px;
}

.header-nav {
  display: flex;
  padding: 24px 0 24px 0;
  align-items: center;
}

.header-address {
  display: flex;
  gap: 40px;
}

/* ==================================== /HEADER ==================================== */

/* ==================================== HERO ==================================== */
.hero {
  background-color: #2e2f42;
  height: 600px;
  padding: 188px 0 188px 0;
}

.main-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  max-width: 496px;
  padding-bottom: 48px;
  margin: 0 auto;
}

.modal-btn {
  display: block;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  background: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  min-width: 169px;
  height: 56px;
  cursor: pointer;
  border: transparent;
  margin: 0 auto;
}

.modal-btn:hover,
.modal-btn:focus {
  background: var(--pressed-state-color);
  background-color: #404bbf;
}

.about-company-item {
  width: calc((100% - 72px) / 4);
}
/* ==================================== /HERO ==================================== */

/* ==================================== ABOUT ==================================== */
.about-company {
  display: flex;
  gap: 24px;
  padding-bottom: 72px;
}

.about-company-visual {
  display: flex;
  gap: 24px;
}

.company-products {
  margin-bottom: 120px;
}

.main-about {
  padding: 120px 0;
}

.ours-works {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--secondary-accent-color);
  padding-bottom: 72px;
}

.our-team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--secondary-accent-color);
  margin-bottom: 72px;
}

.teams-member {
  background-color: FFFFFF;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}

.team-item {
  padding: 32px 16px;
}

.team-cards {
  font-size: 16px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  width: calc((100% - 72px) / 4);
}

.team-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
  text-align: center;
}

/* ==================================== /ABOUT ==================================== */

/* ==================================== TEAM ==================================== */
.team-section {
  background-color: var(--light-mode-backgrounds);
  padding-top: 120px;
  padding-bottom: 120px;
}

.team {
  display: flex;
  gap: 24px;
}

/* ==================================== /TEAM ==================================== */

/* ==================================== FOOTER ==================================== */
.page-bottom {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}
.logo-studio {
  color: #f4f4fd;
}

.slogan-footer {
  color: #f4f4fd;
  width: 264px;
}
/* ==================================== /FOOTER ==================================== */

/* ==================================== PORTFOLIO ==================================== */
/* Buttons */
.filter-btn {
  padding: 12px 24px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  background: #f4f4fd;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid#e7e9fc;
}

.filter-btn:hover,
.filter-btn:focus {
  color: #ffffff;
  background: #404bbf;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 1px solid transparent;
}

.example-category {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--body-text);
}

.portfolio-filter {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.portfolio-examples {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-section {
  padding-top: 96px;
  padding-bottom: 120px;
}

.portfolio-cards-bottom {
  border: 1px solid #e7e9fc;
  border-top: none;
  padding: 32px 16px;
}

.hdr-style {
  border-bottom: 1px solid #e7e9fc;
}

.portfolio-cards {
  width: calc((100% - 48px) / 3);
}
/* ==================================== PORTFOLIO ==================================== */

/* HOMEWORK */
